.sddf{

}

.THIS .myUniqueClass svg {
    width: 3rem;
    height: 20rem;
}

.handle-clicked-details-page{
    background-color:rgb(17, 180, 50);
    background-color:var(--details-page-style);
}


.background-color{
    background-color: rgb(31, 66, 93);
    stroke: black;
    stroke-width: 4px;
}

.background-colorr{
    background-color:rgb(84, 86, 88);
    stroke: rgb(255, 255, 255);
    stroke-width: 5px;
}


.slds-scrollable {
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .slds-table_cell-buffer td {
        padding: 0.5rem 0.75rem;
    }
}