.THIS div.custom-table lightning-datatable {
    font-size: large;
}

/*
.THIS div.lrf-div lightning-button.lightning-record-form-cancel {
    display: none;
}

.THIS div.lrf-div lightning-button.lightning-record-form-submit {
    display: none;
}*/